* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.boardContainer {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 0.2rem;
    max-width: min(70vw, 70vh);
    aspect-ratio: 1 / 1;
    flex: 1;
    background-color: black;
}

.boardContainer .cell {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: bolder;
    user-select: none;
    transition: all 0.2s ease-in-out;
}
.cell:hover {
    background-color: blanchedalmond;
}
.cell:active {
    transform: scale(0.9);
}

.playerContainer {
    border: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    flex: 1;
    max-width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.playerName {
    font-size: 3rem;
}
.playerSign {
    font-size: 4rem;
}
.winCount {
    font-size: 2rem;
}
.gameAnnouncement{
    color: red;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    background-color: white;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.gameAnnouncement>button{
    font-size: 1rem;
}

@media only screen and (max-width : 780px) {
    .container{
        flex-direction: column;
    }
    .playerContainer{
        border: none;
        max-width: 100%;
        width:100%;
        flex-direction: row;
    }
}